@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* colors */
  --clr-white: #FFFFFF;
  --clr-off-white: #F8F9FA;
  --clr-black: #1B1B1B;
  --clr-darkBlue: rgba(74, 78, 105, 0.35);
  /* fonts */
  --ff-Raleway: Raleway;
  /* others */
  --classic-border: 1.5px solid var(--clr-white);
  --classic-padding: 5px 10px;
  --classic-radius: 10px;
  --classic-blur: blur(30px);
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

.main {
  font-family: var(--ff-Raleway);
  color: var(--clr-white);
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 75vh;
}

.title {
  font-size: xx-large;
  font-weight: 500;
}

.scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: var(--clr-black);
}

.left_panel,
.right_panel {
  width: 20rem;
  background-color: var(--clr-darkBlue);
  backdrop-filter: var(--classic-blur);
  border-radius: 1rem;
  padding: 15px 45px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  overflow-y: scroll;
  margin: 1rem;
  z-index: 2;
}

.room_settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.room_settings__name {
  border: none;
  border: var(--classic-border);
  border-radius: var(--classic-radius);
  padding: var(--classic-padding);
  background-color: transparent;
  color: var(--clr-white);
  outline: none;
  font-size: large;
  font-weight: 400;
  width: 60%;
  text-align: left;
}
.room_settings__actions {
  display: flex;
  align-items: center;
  justify-content: end;
}
.room_settings__actions__room_icons {
  width: 1.4rem;
  cursor: pointer;
}
.room_settings__actions__room_icons:hover {
  transform: scale(1.15);
}

.camera {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}
.camera__subtitle {
  font-size: larger;
  font-weight: 500;
}
.camera__axe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.camera__axe__text {
  font-size: medium;
  font-weight: 400;
}
.camera__axe__input_camera {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
  border: 1.5px solid var(--clr-white);
  border-radius: var(--classic-radius);
  background-color: transparent;
  color: var(--clr-white);
  padding: 2px 10px;
  font-size: medium;
  font-weight: medium;
  font-family: var(--ff-Raleway);
  text-align: left;
  width: 70px;
  height: 35px;
  box-sizing: border-box;
  outline: none;
}

.tag_settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.tag_settings__select {
  border: var(--classic-border);
  border-radius: var(--classic-radius);
  padding: var(--classic-padding);
  background-color: transparent;
  color: var(--clr-white);
  outline: none;
  font-size: large;
  font-weight: 400;
  width: 60%;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tag_settings__select option {
  color: var(--clr-black);
  font-family: var(--ff-Raleway);
}
.tag_settings__actions__room_icons {
  width: 1.4rem;
  cursor: pointer;
}
.tag_settings__actions__room_icons:hover {
  transform: scale(1.15);
}

.tag_name {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}
.tag_name__subtitle {
  font-size: larger;
  font-weight: 500;
}
.tag_name__input {
  border: none;
  border: var(--classic-border);
  border-radius: var(--classic-radius);
  padding: var(--classic-padding);
  background-color: transparent;
  color: var(--clr-white);
  outline: none;
  font-size: large;
  font-weight: 400;
  text-align: left;
}

.tag_legend {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}
.tag_legend__subtitle {
  font-size: larger;
  font-weight: 500;
}
.tag_legend__area {
  border: none;
  border: var(--classic-border);
  border-radius: var(--classic-radius);
  padding: var(--classic-padding);
  background-color: transparent;
  color: var(--clr-white);
  outline: none;
  font-size: large;
  font-weight: 400;
  text-align: left;
  resize: none;
}

.tag_position {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}
.tag_position__subtitle {
  font-size: larger;
  font-weight: 500;
}
.tag_position__coordonnees {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tag_position__coordonnees__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.tag_position__coordonnees__container__input {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
  border: 1.5px solid var(--clr-white);
  border-radius: var(--classic-radius);
  background-color: transparent;
  color: var(--clr-white);
  padding: 2px 10px;
  font-size: medium;
  font-weight: medium;
  font-family: var(--ff-Raleway);
  text-align: left;
  width: 70px;
  height: 35px;
  box-sizing: border-box;
  outline: none;
}
.tag_position__coordonnees__container__text {
  font-size: medium;
  font-weight: 400;
}

.text_color {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}
.text_color__subtitle {
  font-size: larger;
  font-weight: 500;
}
.text_color__selector {
  border: var(--classic-border);
  border-radius: var(--classic-radius);
  padding: var(--classic-padding);
  background-color: transparent;
  color: var(--clr-white);
  outline: none;
  font-size: large;
  font-weight: 400;
  width: 100%;
  height: 3rem;
  text-align: left;
  cursor: pointer;
}

.room {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}
.room__subtitle {
  font-size: larger;
  font-weight: 500;
}
.room__selector {
  border: var(--classic-border);
  border-radius: var(--classic-radius);
  padding: var(--classic-padding);
  outline: none;
  font-size: large;
  font-weight: 400;
  background-color: transparent;
  color: var(--clr-white);
  font-family: var(--ff-Raleway);
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}
.room__selector option {
  color: var(--clr-black);
  font-family: var(--ff-Raleway);
}

.bottom_panel {
  max-width: 100%;
  height: 25vh;
  background-color: var(--clr-darkBlue);
  backdrop-filter: var(--classic-blur);
  border-radius: 1rem;
  padding: 15px 45px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem 1rem 1rem;
  z-index: 2;
  overflow-x: scroll;
}

.left_side {
  display: flex;
  gap: 2rem;
  height: 70%;
  width: 70vw;
  align-items: center;
  justify-content: start;
}
.left_side__rooms {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 50%;
  flex-shrink: 0;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.left_side__rooms__item {
  position: relative;
  width: 12.5rem;
  height: 7.5rem;
  min-width: 12.5rem;
  border: var(--classic-border);
  border-radius: var(--classic-radius);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.left_side__rooms__item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.left_side__rooms__item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.left_side__rooms__item__label {
  position: absolute;
  top: 5px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 0.8rem;
  padding: 2px 8px;
  border-radius: var(--classic-border);
}
.left_side__add_room {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 120px;
  border: var(--classic-border);
  border-radius: var(--classic-radius);
  background-color: transparent;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  color: var(--clr-white);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.left_side__add_room:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.right_side {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.right_side__button {
  border: var(--classic-border);
  background-color: transparent;
  color: var(--clr-white);
  border-radius: var(--classic-radius);
  padding: 0.5rem 1rem;
  font-family: var(--ff-Raleway);
}
.right_side__button:hover {
  background-color: var(--clr-black);
  color: var(--clr-white);
  cursor: pointer;
}

.a-enter-vr-button {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000;
}

.import_popup {
  background-color: var(--clr-darkBlue);
  backdrop-filter: var(--classic-blur);
  color: var(--clr-white);
  border: var(--classic-border);
  border-radius: var(--classic-radius);
  padding: 2rem;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10001;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.import_popup__title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}
.import_popup__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.import_popup__form__input {
  border: var(--classic-border);
  border-radius: var(--classic-radius);
  padding: 0.75rem;
  background-color: transparent;
  color: var(--clr-white);
  outline: none;
  width: 100%;
  box-sizing: border-box;
  font-family: var(--ff-Raleway);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.import_popup__form__input:hover {
  background-color: var(--clr-black);
}
.import_popup__form__button {
  background-color: transparent;
  border: var(--classic-border);
  border-radius: var(--classic-radius);
  color: var(--clr-white);
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-family: var(--ff-Raleway);
  font-size: medium;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.import_popup__form__button:hover {
  background-color: var(--clr-black);
  transform: scale(1.05);
}
.import_popup__actions {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.add_popup {
  background-color: var(--clr-darkBlue);
  backdrop-filter: var(--classic-blur);
  color: var(--clr-white);
  border: var(--classic-border);
  border-radius: var(--classic-radius);
  padding: 2rem;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10001;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.add_popup__title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}
.add_popup__actions {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.add_popup__actions__button {
  background-color: transparent;
  border: var(--classic-border);
  border-radius: var(--classic-radius);
  color: var(--clr-white);
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-family: var(--ff-Raleway);
  font-size: medium;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.add_popup__actions__button:hover {
  background-color: var(--clr-black);
  transform: scale(1.05);
}

.delete_confirmation_modal {
  background-color: var(--clr-darkBlue);
  backdrop-filter: var(--classic-blur);
  color: var(--clr-white);
  border: var(--classic-border);
  border-radius: var(--classic-radius);
  padding: 2rem;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10001;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.delete_confirmation_modal__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.delete_confirmation_modal__title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}
.delete_confirmation_modal__text {
  font-size: large;
  font-weight: 400;
  text-align: center;
}
.delete_confirmation_modal__actions {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.delete_confirmation_modal__actions__button {
  background-color: transparent;
  border: var(--classic-border);
  border-radius: var(--classic-radius);
  color: var(--clr-white);
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-family: var(--ff-Raleway);
  font-size: medium;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.delete_confirmation_modal__actions__button:hover {
  background-color: var(--clr-black);
  transform: scale(1.05);
}

.export_popup {
  background-color: var(--clr-darkBlue);
  backdrop-filter: var(--classic-blur);
  color: var(--clr-white);
  border: var(--classic-border);
  border-radius: var(--classic-radius);
  padding: 2rem;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10001;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.export_popup__title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}
.export_popup__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.export_popup__content__card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: var(--classic-border);
  border-radius: var(--classic-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.export_popup__content__card:hover {
  background-color: var(--clr-lightBlue);
}
.export_popup__content__card__text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.export_popup__content__card__text__title {
  font-size: 1.2rem;
  font-weight: bold;
}
.export_popup__content__card__text__description {
  font-size: 0.9rem;
  color: var(--clr-lightGray);
}
.export_popup__actions {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.export_popup__actions__button {
  background-color: transparent;
  border: var(--classic-border);
  border-radius: var(--classic-radius);
  color: var(--clr-white);
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-family: var(--ff-Raleway);
  font-size: medium;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.export_popup__actions__button:hover {
  background-color: var(--clr-black);
  transform: scale(1.05);
}

/*# sourceMappingURL=style.css.map */
